*{
    margin: 0;
    padding: 0;
}
html{
    height:100%;
    width: 100%;;
    max-width: 960px;
    padding: 1.5%;
}
#LLL1{
    background-color:#ebbebe; padding: 10px;
}
#LLL2{
    background-color:#8b95ec; padding: 10px;
}